.container{
margin-top: 7%;
height: 100vh;
}


.dados{
    text-align: center;
    margin-top: 10%;
}

.form{
    margin: 8% 20%;
    display: flex;
}

.content{
    border: 1px solid var(--background-third);
    background-color: var(--background-primary);
    width: 50%;
    height: 70%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 23%;
}

.redes-sociais{
    justify-content: center;
    display: flex;
    font-size: x-large;
    margin-top: 5%;
}

.entrar{
    margin-top: 10%;
}



.form{
    display: flex;
    flex-direction: column;
}